* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.container {
    position: absolute;
    display: block;
    top: 10%;
    left: 40%;
    right: 40%;
    bottom: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.container .container-header {
    position: relative;
    display: block;
    background-color: #6B92AB;
    height: 15%;
    width: 100%;
    border-bottom: 1px solid #000;
}

.container-header .title {
    padding: 25px;
}

.container-header .logo {
    background-image: url(image/register.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    top: 15px;
    right: 15px;
}

.container .container-body {
    position: relative;
    background-color: #eee;
    height: 75%;
    width: 100%;
    padding: 15px;
}

.container-body input[type=text],
input[type=password],
input[type=email] {
    margin-top: 25px;
    height: 30px;
    border: 1px solid #000;
    padding: 5px;
    width: 100%;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus {
    border: 2px solid #000;
    background-color: #f1f1f1;
}

.container-body .register {
    position: absolute;
    display: block;
    top: 85%;
    right: 28%;
    border: none;
    padding: 14px 40px;
    background-color: #1e1e1e;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}

.register:hover {
    background-color: #2e2e2e;
    color: rgb(163, 135, 11);
}

.select {
    margin-top: 15px;
    width: 100%;
}

#answer {
    margin-top: 15px;
}

.container .container-footer {
    position: absolute;
    display: block;
    bottom: 0px;
    top: 90%;
    width: 100%;
    background-color: #1e1e1e;
    border-top: 1px solid #000;
}

.container-footer a {
    position: absolute;
    display: block;
    color: gray;
    font-size: 12px;
    top: 25%;
    left: 32.5%;
    text-decoration: none;
}

.container-footer a:hover {
    color: rgb(163, 135, 11);
}

.username-verify,
.password-verify,
.securityquestion-verify {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    display: block;
    width: 400px;
    color: red;
    font-size: 12px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

.username-verify {
    position: absolute;
    top: 35%;
    float: right;
    right: -130%;
    display: none;
}

.password-verify {
    position: absolute;
    top: 45%;
    float: right;
    right: -130%;
    display: none;
}

.securityquestion-verify {
    position: absolute;
    top: 62.5%;
    float: right;
    right: -130%;
    display: none;
}